{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <img src="{{ asset('images/07.jpg') }}">
    <br>
    <br>
    <h1> la liste des reservations faites</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Datepaiement</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.datedebut ? reservation.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.datefin ? reservation.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.datepaiement ? reservation.datepaiement|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.montant }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Afficher</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Creer nouvel</a>
{% endblock %}
