{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<img src="/images/full-slider-1.jpg">
    <br>
    <br>
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ reservation.datedebut ? reservation.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ reservation.datefin ? reservation.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datepaiement</th>
                <td>{{ reservation.datepaiement ? reservation.datepaiement|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('reservation_index') }}"><input type="button" value="Retour a la liste"/></a>
    <br>
    <br>
    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"><input type="button" value="Modifier"/></a>
    <br>
    <br>
    {{ include('reservation/_delete_form.html.twig') }}
    <br>
    <br>
{% endblock %}
