{% extends 'base.html.twig' %}

{% block title %}Liste des chambres{% endblock %}

{% block body %}
    <img src="{{ asset('images/01.jpg') }}">
    <br>
    <br>
    <h1> La liste des Chambres et types  </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Type de chambre</th>
                <th>Prix par nuit</th>
                <th>Nombre de lit</th>
                <th>Type de lit</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.typachambre }}</td>
                <td>{{ chambre.prixparnuit }}</td>
                <td>{{ chambre.nombrelit }}</td>
                <td>{{ chambre.typelit }}</td>
                <td>{{ chambre.statut ? 'Disponible' : 'Occuper' }}</td>
                <td>
                    <a href="{{ path('chambre_show', {'id': chambre.id}) }}"><input type="button" value="Afficher" /></a>
                    {% if app.user %}
                    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}"><input type="button" value="Modifier" /></a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a href="{{ path('chambre_new') }}"><input type="button" value="Ajouter une chambre" /></a>
    <br>
    <br>
    <a href="{{ path('reservation_new') }}"><input type="submit"value="FAIRE UNE RESERVATION"></a>
    <br>
    <br>
{% endblock %}
