{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}

    <img src="{{ asset('images/02.jpg') }}">
    <br>
    <h1> La liste des clients</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>Pays</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.pays }}</td>
                <td>
                {% if app.user %}
                    <a href="{{ path('client_show', {'id': client.id}) }}"><input type="button" value= "AFFICHER"</a>
                 
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><input type="button" value= "MODIFIER"</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a href="{{ path('client_new') }}"> <input type="button" value= "DAVENIR UN CLIENT"</a>
    <br>
    <br>
    <br>
{% endblock %}
