{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <br>
    <br>
    <h1> </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ client.pays }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="{{ path('client_index') }}"><input type="button" value="Retour a la liste"/></a>
    <br>
    <br>
    <a href="{{ path('client_edit', {'id': client.id}) }}"><input type="button" value="Modifier"/></a>
    <br>
    <br>
    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
